<%- include("partials/header") %> 
<div class="mb-5">
    <h1>Home</h1>
    <p><%= startingContent %></p>
</div>
<% for (let i = 0; i < newPost.length; i++) { %>
   <% console.log(newPost) %>
<% } %>

<%- include("partials/footer") %> 